block footer
  footer.ebcp-footer
    .container.footer-content
      .site-navigation.row
        .col
          ul.footer-links
            h4.footer-text-heading-primary Use Eventbrite
            li: a.footer-text-body(href="#") How It Works
            li: a.footer-text-body(href="#") For Large &amp; Complex Events
            li: a.footer-text-body(href="#") Pricing
            li: a.footer-text-body(href="#") Comunity Guidelines
            li: a.footer-text-body(href="#") Eventbrite Mobile App
            li: a.footer-text-body(href="#") Eventbrite Check-In App
            li: a.footer-text-body(href="#") Eventbrite Spectrum
            li: a.footer-text-body(href="#") Rally - Fun Things To Do
            li: a.footer-text-body(href="#") Eventbrite Reviews
            li: a.footer-text-body(href="#") Sitemap
        .col
          ul.footer-links
            h4.footer-text-heading-primary Plan Events
            li: a.footer-text-body(href="#") Conference Management Software
            li: a.footer-text-body(href="#") Food and Drink Ticketing
            li: a.footer-text-body(href="#") Nonprofits &amp; Fundraisers
            li: a.footer-text-body(href="#") Sell Tickets
            li: a.footer-text-body(href="#") Event Management &amp; Planning
            li: a.footer-text-body(href="#") Online Event Registration
            li: a.footer-text-body(href="#") Online RSVP
            li: a.footer-text-body(href="#") Venue Booking &amp; Management
            li: a.footer-text-body(href="#") Event Equipment &amp; Staffing
            li: a.footer-text-body(href="#") Event Promotion
        .col
          ul.footer-links
            h4.footer-text-heading-primary Find Events
            li: a.footer-text-body(href="#") Boston Events
            li: a.footer-text-body(href="#") Chicago Events
            li: a.footer-text-body(href="#") Denver Events
            li: a.footer-text-body(href="#") Houston Events
            li: a.footer-text-body(href="#") Los Angeles Events
            li: a.footer-text-body(href="#") Nashville Events
            li: a.footer-text-body(href="#") New York Events
            li: a.footer-text-body(href="#") San Diego Events
            li: a.footer-text-body(href="#") San Francisco Events
            li: a.footer-text-body(href="#") All Cities
        .col
          ul.footer-links
            h4.footer-text-heading-primary Connect With Us
            li: a.footer-text-body(href="#") Contact Support
            li: a.footer-text-body(href="#") Contact Sales
            li: a.footer-text-body(href="#") Twitter
            li: a.footer-text-body(href="#") Facebook
            li: a.footer-text-body(href="#") Linkedln
            li: a.footer-text-body(href="#") Instagram
            li: a.footer-text-body(href="#") Google+
