* {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; }

a {
  background-color: transparent;
  color: #0278b8;
  text-decoration: none; }

ol,
ul {
  list-style: none; }

input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #fff;
  border: 1px #d2d6df solid;
  box-sizing: border-box;
  color: #45494e;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 24px;
  padding: 9px 12px;
  vertical-align: middle;
  width: 100%; }

select {
  -webkit-appearance: menulist-button;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  z-index: 1; }

button,
input {
  -webkit-appearance: button;
  cursor: pointer; }

.ebcp-navbar {
  border-bottom: 1px solid #d2d6df;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  max-width: none;
  padding: 0;
  width: 100%; }
  .ebcp-navbar .ebcp-logo {
    background-image: url("../images/main-logo.jpg");
    background-position: 0 -3px;
    background-size: 110px auto;
    display: block;
    float: left;
    height: 60px;
    line-height: 1.4;
    margin: 0 20px;
    width: 110px; }
  .ebcp-navbar .navbar-content {
    border-left: 1px solid #eff2f5;
    height: 60px; }
    .ebcp-navbar .navbar-content navbar-nav {
      height: 60px; }
    .ebcp-navbar .navbar-content .nav-link {
      border-left: 1px solid #eff2f5;
      border-radius: 0;
      color: #45494e;
      font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: .8px;
      padding: 22px 20px 19px;
      text-transform: uppercase; }
      .ebcp-navbar .navbar-content .nav-link.ebcp-create {
        color: #0278b8;
        font-weight: 400; }

.ebcp-footer {
  background: #282c35;
  border-top: #666a73 solid 6px;
  color: #666a73;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  position: relative; }
  .ebcp-footer .footer-content {
    margin-top: 10px; }

.site-navigation {
  padding-bottom: 25px;
  padding-top: 25px; }

.footer-text-heading-primary {
  color: #adb0b6;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin: 0; }
  .footer-text-heading-primary li {
    line-height: 1.9; }

.footer-text-body {
  color: #d2d6df;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: .9px;
  line-height: 18px; }
  .footer-text-body:hover {
    color: #d2d6df; }

.ebcp-main-search {
  background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, white 25%);
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  margin-top: -140px;
  padding-bottom: 25px;
  padding-top: 25px;
  position: relative;
  text-align: center; }
  .ebcp-main-search .text-heading {
    color: #f86820;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 60px;
    margin-top: 10px; }

.ebcp-search-bar-container {
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 10px; }

.search-bar-component {
  display: inline-block;
  font-weight: 100;
  vertical-align: middle;
  width: 160px; }
  .search-bar-component:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 260px; }
  .search-bar-component .home-search-btn {
    background-color: #f6682f;
    border: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    padding: 11px 20px;
    text-transform: uppercase;
    width: 100%; }

/*# sourceMappingURL=style.css.map */