$border-bottom: #d2d6df;
$top-divider: #eff2f5;
$basic-color: #45494e;
$create: #0278b8;

.ebcp-navbar {
  border-bottom: 1px solid $border-bottom;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  max-width: none;
  padding: 0;
  width: 100%;

  .ebcp-logo {
    background-image: url('../images/main-logo.jpg');
    background-position: 0 -3px;
    background-size: 110px auto;
    display: block;
    float: left;
    height: 60px;
    line-height: 1.4;
    margin: 0 20px;
    width: 110px;
  }

  .navbar-content {
    border-left: 1px solid $top-divider;
    height: 60px;

    navbar-nav {
      height: 60px;
    }

    .nav-link {
      border-left: 1px solid $top-divider;
      border-radius: 0;
      color: $basic-color;
      font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: .8px;
      padding: 22px 20px 19px;
      text-transform: uppercase;

      &.ebcp-create {
        color: $create;
        font-weight: 400;
      }
    }
  }
}
